.title-center{
    text-align: center;
    flex: 1 1 auto;

}
mat-toolbar{
    margin: -24px;

    margin-bottom: 10px;
    width: auto;
    color: white;
    background-color: black;
}
button{
    background-color: black;
    color: white;
}
.btn-2{
    background-color: green;
}